/numeros 1 al 100/nbproject/private/
/numeros 1 al 100/build/
/guia 3/problema2/nbproject/private/
/guia 3/problema2/build/
/guia 3/problema3/nbproject/private/
/guia 3/problema3/build/
/guia 3/probelma4/nbproject/private/
/guia 3/Ejerciciocomple1/nbproject/private/
/guia 3/Ejerciciocomple1/build/
/guia 3/Ejerciciocomple2/nbproject/private/
/guia 3/Ejerciciocomple3/nbproject/private/
/guia 3/remplazartexto/nbproject/private/
/guia 3/remplazartexto/build/
/guia 3/Ejerciciocomple3/build/
/guia 3/calculadora/nbproject/private/
/guia 3/calculadora/build/
/guia 3/EjercicioComple4/nbproject/private/
/guia 3/EjercicioComple4/build/
/guia 3/EjercicioComple5/nbproject/private/
/guia 3/EjercicioComple5/build/